<footer class="site-footer">
    <div class="f-info">
        <div class="f-info-socials">
            <div class="f-social-icons">
                <a href="#" class="social-link" aria-label="facebook"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#" class="social-link" aria-label="twitter"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="#" class="social-link" aria-label="instagram"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#" class="social-link" aria-label="linkedin"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>

        <div class="f-info-brand">© 2024 Airbnb, Inc. All rights reserved</div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/sitemap">Sitemap</a>
            <a href="/company-details">Company Details</a>
        </div>
    </div>
</footer>